body {
	margin: 0;
  box-sizing: border-box;
}
:root {
  --secondary-color: #151226;
  --contrast-color: #BF307F;
}

.landing_page {
	height: 100%;
  /*This part is important for centering*/
  display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
  margin-top: 250px;
  margin-bottom: 50px;
	
	/* bottom: -1000px; */
	animation: fade 2s forwards;
	animation-delay:3s;
  opacity: 1;
	
}
@keyframes fade {
	from, to { margin-bottom: 60px;}
}
.landing_page >p {
	font-family: 'Inconsolata', monospace;
  font-size: 0.6em;
	color: beige;
}
.background {
  opacity: 0.5;
}
.background video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
	z-index: -1;
}
.title {
  overflow: hidden;
  height: auto;
  top: 150px;
}

h1 {
    font-size: 28px;
    font-family: 'Inconsolata', monospace;
    color: black;
    margin-bottom: 5px;
    transform: translateY(150px);
    animation: slideUp .8s ease forwards .5s;
}
.par {
  width: 40%;
  height: auto;
  overflow: hidden;
  font-size: 24px;
  font-family: 'Inconsolata', monospace;
  text-align: justify;

}

p{
  line-height: 24px;
  transform: translateY(500px);
  animation: slideUp .8s ease-in-out forwards .9s;
}


.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.wrapper button {
  margin: 2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  transform: translateY(15rem);
  outline: 0.1rem solid black;
  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  animation: slideUp .8s ease forwards .5s;
  animation-delay: 2s;
  transition: color ;
  background: transparent;
  border: none;
}

.wrapper button:hover {
  color: rgb(240, 238, 238);
  background-color: #151226;
  cursor:pointer;
}

@keyframes slideUp {
  0%{
    transform: translateY(300px);
    
  }
  100%{
    transform: translateY(0px);
    
  }
}
/* media queries if the screen is smaller than 600px apply the following code */
@media screen and (max-width: 600px) {
  .title{
    top: 5rem;}
  p {
    line-height: 1rem;
    
  }
  .par {
    font-size: 1rem;
    width: 80%;
  }
  h1 {
    font-size: 1.2rem;
    margin-bottom: 0.1rem;
    
}
.wrapper button {
  margin: 0.5rem;
  margin-bottom: 3rem;
  padding: 0.3rem;
  transform: translateY(10rem);
  outline: 0.1rem solid black;
  font-family: 'Inconsolata', monospace;
  font-size: 0.8rem;
  animation: slideUp .8s ease forwards .5s;
  animation-delay: 2s;
  transition: color ;
  background: transparent;
  border: none;
}
}