

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  height: 100vh; /* Ensures the body takes full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push your content to the top and bottom */
  background-color: var(--secondary-background);
}

:root {
  --secondary-color: #151226;
  --contrast-color: #BF307F;
  --main-red: #dd164c;
  --main-background-color: #494e84;
  --main-light-blue: 	#74afda;
  --main-yellow: #da9100;
  --main-cyan: #00a693;
  --secondary-background: #292f6d;
  --secondary-yellow: #ff9527;
  --secondary-light-blue: #9497B6;
  --pages-selected: #dd164c;
  --pages-unselected: #bec0d3;
  --section-title: #bec0d3;
}

#three-background {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
	z-index: -10;
  position: absolute;
  cursor: pointer;
}

.landing_page {
	height: 100vh;
  width: 100%;
  /*This part is important for centering*/
  display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
  margin: auto 0 3rem 0;
  align-items: center; 
	animation: fade 2s forwards;
  flex-grow: 1;
	animation-delay:3s;
  opacity: 1;
}


@keyframes fade {
	from, to { margin-bottom: 60px;}
}

.landing_page >p {
	font-weight: 300;
  font-style: normal;
  font-size: 1rem;
	color: beige;
  z-index: 10;
}

.title, .par {
  width: 100%; /* Ensures these elements take full width of their container */
  text-align: center; /* Centers the text inside them */
  z-index: 5;
  position:relative;
}

.title {
  overflow: hidden;
  height: auto;
  z-index: 5;
}

h1 {
  font-size: 1.5rem;
  color: var(--secondary-background);
  margin-bottom: 5px;
  transform: translateY(150px);
  animation: slideUp .10s ease forwards .15s;
  z-index: 10;
}
.par {
  width: 30%;
  height: auto;
  overflow: hidden;
  font-size: 0.9rem;
  text-align: justify;
  z-index: 10;
  color: var(--secondary-background);
}

p{
  line-height: 20px;
  font-size: 1.2rem;
  transform: translateY(500px);
  animation: slideUp .20s ease-in-out forwards .25s;
  animation-delay: 1s;
  z-index: 10;
  
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  padding: 1rem 0;
  cursor: pointer;
}

.wrapper a {
  text-decoration: none;
}

.wrapper .arrow-button {
  color: var(--secondary-light-blue);
  padding: 0.3rem;
  transform: translateY(100vh); /* Start below the viewable area */
  font-size: 1.2rem;
  font-weight: 600;
  animation: slideUp 0.40s ease forwards 3s; /* Consolidated the delay into the shorthand */
  transition: color 0.3s; /* Ensure color transition is smooth */
  background: transparent;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.arrow-button:hover {
  color: var(--main-red);
}

.arrow-button .arrow:hover {
  cursor: pointer;
  color: var(--main-red);
}

@keyframes slideUp {
  from {
    transform: translateY(100vh); /* Start from 100% of the viewport height */
  }
  to {
    transform: translateY(0); /* End at the natural position */
  }
}
/* media queries if the screen is smaller than 600px apply the following code */
@media screen and (max-width: 700px) {
  
  p {
    line-height: 1rem;
    
  }
  .par {
   
    width: 80%;
  }
  h1 {
    margin-bottom: 0.1rem;
    
}
}