:root {
  --main-background-color: #494e84;
  --main-light-blue: 	#74afda;
  --main-red: #dd164c;
  --main-yellow: #da9100;
  --main-cyan: #00a693;
  --secondary-background: #292f6d;
  --secondary-yellow: #ff9527;
  --secondary-light-blue: #9497B6;
  --pages-selected: #dd164c;
  --pages-unselected: #bec0d3;
  --section-title: #bec0d3;
  
  
}
*{
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
  font-style: normal;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: var(--secondary-background);
}

/* page layout*/
#container {
  position: absolute;
  display: grid;
  grid-template-columns: 0.5fr 4.5fr 1fr;
  grid-template-rows: minmax(30px, auto) 1fr minmax(30px, auto);
  gap: 1rem;
  height: 100vh;
  width: 100vw;
}

footer {
  grid-area: 3/2/3/3;
  position: relative;
  width: 100%;
  color: var(--secondary-light-blue); /* Light text color */
  text-align: center; /* Centers the footer content */
  font-size: 12px;
  
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-content i {
  margin-right: 5px; /* Adds a small space between the icon and the text */
}


a:link, a:visited  {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

a:hover {
  color: blue;
}

.item-1 {
  grid-area: 2/1/2/2;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-self: left;
  text-align: left;
}

.unselected {
  color: var(--pages-unselected);
}
.selected {
  color: var(--pages-selected);
}
.pages {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
}

.selected::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 100%; /* Start width */
  height: 4px; /* Adjust thickness as needed */
  background-color: var(--pages-selected); /* Adjust color as needed */
  animation: underline-animation 0.5s linear; /* Adjust animation duration and timing function as needed */
}

.pages:hover{
  color: var(--pages-selected);
}


@keyframes underline-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%; /* Middle of animation, full width */
  }
}



.item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  align-self: start;
}

.item-4 {
  grid-area: 3/1/4/2;
  align-self: end;
  justify-self: start;
}
.item-2 {
  grid-area: 3/3/4/4;
  justify-self: end;
  align-self: end;
}

/* filterbox */
.filterbox {
  grid-area: 2 / 3 / 3/ auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-basis: 2em;
  margin-left: 1em;
}
.filterbox p {
  font-size: 1.1rem;
  text-align: justify;
  margin: 0.2rem;
  margin-bottom: 0.1rem;
  font-weight: 400;
  color: var(--section-title);
}

.filters {
  margin: 0.1rem;
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-start;
}


.filterbtn {
  border: none;
  font-size: 12px;
  font-style: 'light';
  color: var(--secondary-light-blue);
  background-color: transparent;
  padding: 0.3rem;
  border-radius: 0.4rem ;
  /* outline: 0.01rem solid var(--secondary-light-blue); */
  box-shadow: 0 0 0 0.06rem var(--secondary-light-blue); /* Trick because Safari doesn't support border-radius and outline */
  margin: 0.3rem;
  cursor:pointer;
}
.filterbtn:hover {
  color: var(--main-red);
  /* outline: 0.2rem solid var(--main-red); */
  box-shadow: 0 0 0 0.2rem var(--main-red); /* Trick because Safari doesn't support border-radius and outline */
}

.active {
  box-shadow: 0 0 0 0.2rem var(--main-red);
  color: var(--main-red);
}

/* Main div with projects display */
.windowView {
  grid-row: 2/3;
  grid-column: 2/3;
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  column-gap: 0.5rem;
  border-radius: 5px;
  justify-content: space-around; 
  align-items: stretch;
  margin: 0.5rem;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  padding: 1rem;
  overflow: hidden;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 5%;
  flex-grow: 0;  
  transition-property: flex-grow; 
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  
}

.card.visible {
  flex-grow: 1;  /* Set flex-grow to 1 for visible cards */
  opacity: 1;
}

.card.hidden {
  flex-grow: 0;  /* Keep flex-grow at 0 for hidden cards */
  opacity: 0;
  width: 0;
}

.card:hover {
  flex-grow: 10;
  border: 4px solid var(--main-red);
}

/* Base styles for positioning text elements within the card, adjusted for flexbox */
.cardText {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  transition: opacity 1.5s ease;
  opacity: 0;
  color: white;
}

/* Specific styles for title, subtitle, and keywords */
.cardTitle {
  font-size: 1.5em;
  order: 1; /* Ensures title is at the top */
}

.cardSubtitle {
  font-size: 1em;
  order: 2; /* Ensures subtitle is below title */
}

.cardKeywords {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  order: 3; /* Ensures keywords are at the bottom */
  font-size: 0.7em;
}

.keywordTag {
  background-color: transparent; /* Customize color as needed */
  color: var(--main-red);
  border-radius: 0.4rem;
  padding: 3px 5px;
  margin: 4px;
  /* outline: 1px solid var(--main-red); */
  box-shadow: 0 0 0 0.06rem var(--main-red); /* Trick because Safari doesn't support border-radius and outline */
  display: inline-block;
}

.cardClone {
  display: block;
  box-shadow:12px 12px black;
  cursor: pointer;
  z-index: 30;
}

@keyframes slideDown {
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

/* Card Project */
.card-content {
  padding: 0px;
  overflow: auto;
  height: 100%;
  color: black;
  background-color: #fff;
  z-index: 30;
  outline: 0.2rem solid black;
  scrollbar-width: thin;          /* "auto" or "thin" /Works on Firefox only */
  scrollbar-color: rgb(7, 7, 7) rgb(69, 68, 68);   /* scroll thumb and track /Works on Firefox only*/ 
}
/* 
Works on Chrome, Edge, and Safari
.card-content::-webkit-scrollbar {
  width: 0.6rem;
  overflow: auto;
  height: 2em;
  margin-right: 0;
  right: 0;
}

.card-content::-webkit-scrollbar-track {
  
  border: 0.1rem solid black;
}

.card-content::-webkit-scrollbar-thumb {
  
  padding: 0.1rem;
  border-radius: 0;
  border: 0.1rem solid rgb(0, 0, 0);
} */
.card-content > * {
  transform: translateY(-35px);
  opacity: 0;
}
.card-content video {
  width: 90%;
  height: 60%;
  background-color: #fff;
  padding: 1rem;
  margin: 0.8rem;
  padding-top: 0;
  animation: slideDown 0.5s ease-out 0.2s forwards;
}
.card-content img {
  width: 100%;
  height: 70%;
  background-color: #fff;
  padding: 20px;
  animation: slideDown 0.5s ease-out 0.2s forwards;
}
.card-content .header{
  position: sticky;
  position: -webkit-sticky;
  background-color: #fff;
  top: 0em;
  padding: 1em;
  animation: slideDown 0.5s ease-out forwards;
  z-index: 3;
}
.card-content .header h1 {
  font-size: 26px;
  margin: 0.1em;
  font-weight: 600;
}
.card-content .header h2 {
  font-size: 20px;
  margin: 0.8em;
  margin-bottom: 0;
  font-weight: 400;
}
.card-content .wrapper{
  display: flex;
  flex-flow: row wrap;
  opacity: 100%;
  margin-top: 1rem;
}
.wrapper .info {
  display: flex;
  flex-flow: column wrap;
  opacity: 100%;
  width: 30%;
  padding: 1.2rem;
  padding-bottom: 0;
  align-items: flex-start;
  text-align: left;
  overflow-wrap: break-word;
  margin: 0;
  
}
.wrapper .dec {
  width: 50%;
}
.wrapper h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  z-index: 3;
  margin: 0;
  padding: 0;
  opacity: 100%;
}
.wrapper .info > p {
  font-size: 14px;
  font-style: light;
  animation: slideDown 0.5s ease-out 0.4s forwards;
  width: 100%;
  white-space: pre-line;
  padding: 0.2rem;
  margin: 0;
}
/* Close button */
.closebtn {
  overflow: hidden;
  position: absolute;
  border: none;
  top: 0.5em;
  left: 0.5em;
  padding: 0.5rem;
  width: 0.9em; 
  height: 0.9em;
  font: inherit;
  cursor: pointer;
  z-index: 10;
  margin: 0;
  background: rgb(230, 228, 228); 
}

.closebtn:hover {
  background: rgb(207, 206, 206); /* Light gray background on hover */
}

.closebtn::before, .closebtn::after {
  position: absolute;
  top: 15%; 
  left: calc(50% - 0.0625em);
  width: 0.1em; 
  height: 70%;
  border-radius: 0.5em;
  background: #000; /* Black color for the 'X' */
  content: '';
}

.closebtn:hover::before, .closebtn:hover::after {
  background: var(--main-red); /* Change 'X' color to red on hover */
}


.closebtn::after {
  transform: rotate(-45deg);
}

.closebtn::before {
  transform: rotate(45deg);
}

/* --- */



/* media queries */
@media screen and (max-width:1000px) {
  #container{
    grid-template-columns: 1fr 4fr 1.5fr;
    gap: 0.5rem;
    margin: 0.4rem;
    height: 96vh;
    width: 98vw;
  }
  .cardTitle {
    font-size: 1rem;
  }
  .cardSubtitle {
    font-size: 0.8rem;
  }
  .cardKeywords {
    font-size: 0.8rem;
  }

  .keywordTag {
    border-radius: 5px;
    padding: 2px 2px;
    margin: 4px;
  }
}

/* media queries if the screen is smaller than 600px apply the following code */
@media screen and (max-width: 700px) {
  #container {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
    margin: 0.2rem;
  }
  .windowView {
    height:100%; 
    width:100%;
    flex-basis:auto;
    flex-flow: column wrap;
    order: 6;
  }
  .card {
    width: 100%;
    height: 5%;
  }
  
  .item-1{ 
    order: 1;
    font-size: 0.1rem; 
    flex-direction: row;
    justify-self: left;
    text-align: left; 
  }
  .item-2 { order: 4; font-size: 0.1rem;}
  .item-3{ order: 2; font-size: 0.1rem;}
  .item-4 { order: 3; font-size: 0.1rem;}
  
  footer {
    order: 99;  /* Ensure it's the last in flex order */
    width: 100%;  /* Ensure it spans full width */
    position: relative;  /* It's okay to keep it relative if flexbox handles the placement correctly */
  }

  
  .filterbox {
    display: none;
  }
  .filterbtn {
    display:none;
  }
 
  .card-content video {
    width: 100%;
    height: 30%;
    background-color: #fff;
    padding: 0.2rem;
    animation: slideDown 0.5s ease-out 0.2s forwards;
  }
  .card-content img {
    width: 100%;
    height: 30%;
    background-color: #fff;
    padding: 0.2rem;
    animation: slideDown 0.5s ease-out 0.2s forwards;
  }
  .card-content .header h1 {
    font-size: 1rem;
    margin: 0.1rem;
  }
  .card-content .header h2 {
    font-size: 16px;
    margin: 0.8em;
  }
  .card-content::-webkit-scrollbar {
    width: 0.4rem;
  }
  .card-content::-webkit-scrollbar-thumb {
      border: 0.1rem solid rgb(163, 160, 160);
  }
}


/* 
.dots {
  color: rgba(215, 215, 249, 0.2);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
} */