:root {
  --main-background-color: #494e84;
  --main-bright-background-color: #fbfbfb;
  --main-light-blue: 	#74afda;
  --main-red: #dd164c;
  --main-yellow: #da9100;
  --main-cyan: #00a693;
  --secondary-background: #292f6d;
  --secondary-yellow: #ff9527;
  --secondary-light-blue: #8588a6; /* #9497B6*/
  --pages-selected: #dd164c;
  --pages-unselected: #8588a6; /* #bec0d3;*/
  --section-title: #8588a6;
  --body-text-color: #494e84;
  --title-text-color:#292f6d;
  --subtitle-text-color:#292f6d;
  --filters-default: #8588a6;
  --filters-selected: #494e84;

}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden; 
  background-color: var(--main-bright-background-color);
}

/* page layout*/
#container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 4.5fr 1fr;
  grid-template-rows: minmax(30px, auto) 1fr minmax(30px, auto); /* add auto otherwise the grid would move if the windowView container changes*/
  gap: 1rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

footer {
  grid-area: 3/1/3/2;
  position: relative;
  width: 100%;
  color: var(--secondary-light-blue); /* Light text color */
  text-align: left; /* Centers the footer content */
  font-size: 10px;
  margin-left: 20px;
  
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: start;
}

.footer-content i {
  margin-right: 5px; /* Adds a small space between the icon and the text */
}


a:link, a:visited  {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

a:hover {
  color: blue;
}

.item-1 {
  grid-area: 2/1/2/2;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-self: left;
  text-align: left;
}

.unselected {
  color: var(--pages-unselected);
}
.selected {
  color: var(--pages-selected);
}
.pages {
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  position: relative;
  font-family: "Barlow", serif;
}

.selected::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 100%; /* Start width */
  height: 4px; /* Adjust thickness as needed */
  background-color: var(--pages-selected); /* Adjust color as needed */
  animation: underline-animation 0.5s linear; /* Adjust animation duration and timing function as needed */
}

.pages:hover{
  color: var(--pages-selected);
}


@keyframes underline-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%; /* Middle of animation, full width */
  }
}

/* filterbox */
.filterbox {
  position: relative;
  box-sizing: border-box;
  /* grid-area: 2 / 3 / 3/ auto; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-basis: 2em;
  margin-left: 1em;
  min-height: 300px;
}
.filterbox p {
  font-size: 1.1rem;
  text-align: justify;
  margin: 0.2rem;
  margin-bottom: 0.1rem;
  font-family: "Barlow", serif;
  font-weight: 400;
  color: var(--subtitle-text-color);
}

.filters {
  margin: 0.2rem;
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-start;
}

#pyear {
  width: 100%;
  margin-top: 2rem;
  padding: 0.2rem;
  padding-left: 1.5rem;
}

#slider {
  width: 90%;
  height: 8px;
}
#slider .noUi-tooltip {
  font-size: 14px;
  border: none;
  background: none;
  bottom: 70%;
  color: var(--filters-default);
}

#slider .noUi-tooltip:active {
  color: var(--filters-selected);
}

#slider .noUi-connect {
  background: var(--filters-default);
}

#slider .noUi-handle {
  height: 16px;
  width: 16px;
  top: -5px;
  right: -8px; /* half the width */
  border-radius: 8px;
  cursor: pointer;
  border-color: var(--filters-selected);
}

#slider .noUi-handle:hover {
  border-width: 2px;
  /* box-shadow: 4px 4px 2px var(); */
}
#slider .noUi-handle:focus {
  border-width: 2px;
  /* box-shadow: 4px 4px 2px var(); */
}

/* Type chips */
.type-chip {
  display: inline-flex;
  align-items: center;
  border: none; /* No border to affect sizing */
  font-size: 0.9rem;
  color: var(--filters-default);
  background-color: transparent;
  padding: 0.3rem; /* Maintain consistent padding */
  border-radius: 0.5rem;
  margin: 0.3rem;
  cursor: pointer;
  transition: color 0.3s, box-shadow 0.3s; /* Smooth transition for color and box-shadow */
  box-shadow: 0 0 0 0.08rem  #9497b682; /* Initial box-shadow as outline */
}
.type-chip:hover {
  color: var(--filters-selected);
  box-shadow: 0 0 0 0.12rem var(--filters-selected);;
}
.chip-label {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
.chip-close {
  font-weight: bold;
  font-size: 0.9rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  display: flex;
  align-items: center;
  margin-left: 0;
}

.active-chip {
  color: var(--filters-selected);;
  box-shadow: 0 0 0 0.12rem var(--filters-selected);;
}
.active-chip .chip-close {
  opacity: 1;
  color: var(--filters-selected);;
}

/* Main div with projects display */
.windowView {
  grid-row: 2/4;
  grid-column: 2/4;
  display: flex; 
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: auto; 
  justify-content: left; 
  align-items: end;
  margin: 0.5rem;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
  
}

/* Panel styles */
.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem;
  color: #fff;
  border: 1px solid var(--main-background-color);
  height: 95%;
  
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.1);
  
  /* Smooth transitions for when widths & opacity change */
  transition:
    flex-basis 1s ease,
    opacity 1s ease,
    transform 1s ease;
  overflow: hidden; /* In case we shrink it, hide any overflow */
}

/* Let's keep using `.expanded` for styling but NOT for fixed width. */
.panel.expanded {
  /* No fixed width here, the JS will set widths dynamically. */
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto; /* ensure scrolling is enabled */
  z-index: 2;
  transform: translateY(-10px) scale(1.01);
 
}

.panel:not(.expanded):hover {
  transform: translateY(-30px);
  transform: translateY(-30px) scale(1.03);
  z-index: 3;
  cursor: pointer;
  box-shadow: -8px 8px 5px rgba(0, 0, 0, 0.1);
  
}

.panel:not(.expanded):hover h4 {
  font-family: "Barlow", serif;
  font-weight: 600;
}

/* 
  For non-expanded panels, rotate the <h1> 
  so that it appears vertically at bottom-left
*/
.panel:not(.expanded) h4 {
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  font-size: 1.1rem;
  font-family: "Barlow", serif;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
  color:var(--subtitle-text-color);
}

/* For the expanded panel, show the title horizontally again */
.panel.expanded h4 {
  display:none;
  position: relative;
  transform: none;
  font-size: 2rem;
  color:var(--subtitle-text-color);
}

/* Hide the <p> text when NOT expanded */
.panel:not(.expanded) .card-content {
  display: none;
}

.panel:not(.expanded) .card-content {
  display: none;
}
.panel.expanded .card-content {
  display: block; /* or flex, up to you */
}
/* 
  Hidden panels: we keep them at 0% width
  so they don't consume space, but remain in DOM 
*/
.panel.hidden {
  flex-basis: 0 !important;
  opacity: 0;
  pointer-events: none;
  margin: 0;
  padding: 0;
}

/* Base styles for positioning text elements within the card, adjusted for flexbox */
.cardText {
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  transition: opacity 1.5s ease;
  opacity: 0;
  color: var(--body-text-color);
}

/* Specific styles for title, subtitle, and keywords */
.cardTitle {
  font-family: "Barlow", serif;
  font-size: 1.5em;
  order: 1; /* Ensures title is at the top */
  color: var(--subtitle-text-color);
  writing-mode: vertical-rl;
  text-align: start;

}

.cardSubtitle {
  font-size: 1em;
  order: 2; /* Ensures subtitle is below title */
  
}

.cardKeywords {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  order: 3; /* Ensures keywords are at the bottom */
  font-size: 0.9em;
}

.keywordTag {
  background-color: transparent; /* Customize color as needed */
  color: var(--main-red);
  border-radius: 0.4rem;
  padding: 3px 5px;
  margin: 4px;
  /* outline: 1px solid var(--main-red); */
  box-shadow: 0 0 0 0.1rem var(--main-red); /* Trick because Safari doesn't support border-radius and outline */
  display: inline-block;
}

.cardClone {
  display: block;
  border: 1px solid #2d2d2d;
  box-shadow:12px 12px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 30;
}

@keyframes slideDown {
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

/* Card Project */
.card-content {
  box-sizing: border-box;
  padding: 0px;
  overflow: auto;
  height: 100%;
  color: var(--body-text-color);
  background-color: #fff;
  z-index: 30;
  /* outline: 0.2rem solid rgb(48, 48, 48); */
  scrollbar-width: thin;          /* "auto" or "thin" /Works on Firefox only */
  scrollbar-color: rgb(7, 7, 7) rgb(69, 68, 68);   /* scroll thumb and track /Works on Firefox only*/ 
}

.card-content > * {
  transform: translateY(-35px);
  opacity: 0;
}

.card-content video {
  max-width: 100%; /* Prevents horizontal overflow */
  max-height: 100%; /* Ensures the video height doesn't exceed the container */
  width: 100%; /* Fills the container horizontally */
  height: auto; /* Maintains aspect ratio */
  display: block;
  animation: slideDown 0.5s ease-out 0.2s forwards;
}

.card-content img {
  width: 100%;
  height: 70%;
  background-color: #fff;
  padding: 20px;
  animation: slideDown 0.5s ease-out 0.2s forwards;
}
.card-content .header{
  /* position: sticky; */
  /* position: -webkit-sticky; */
  background-color: #fff;
  top: 0em;
  padding: 1em;
  animation: slideDown 0.5s ease-out forwards;
  z-index: 3;
  /* border-bottom: 1px solid black; */
  
}
.card-content .header h1 {
  font-size: 26px;
  margin: 0.1em;
  font-weight: 600;
  font-family: "Barlow", serif;
  color: var(--title-text-color);
}
.card-content .header h2 {
  font-size: 20px;
  margin-top: 0.8em;
  margin-bottom: 0;
  font-weight: 400;
  color: var(--subtitle-text-color);
}
.card-content .wrapper{
  display: flex;
  flex-flow: row wrap;
  opacity: 100%;
  margin-top: 3rem;
  /* overflow: scroll; */
}
.info {
  display: flex;
  flex-flow: column wrap;
  opacity: 100%;
  width: 30%;
  padding: 1.2rem;
  padding-bottom: 0;
  align-items: flex-start;
  text-align: left;
  overflow-wrap: break-word;
  margin: 0;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
.dec {
  width: 70%;
  /* overflow-y: scroll; */
  padding: 1.5rem;
  padding-bottom: 0;
  text-align: justify;
}
.wrapper h3 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  z-index: 3;
  margin: 0;
  padding: 0;
  opacity: 100%;
}
.wrapper .info > p {
  font-size: 14px;
  font-style: light;
  animation: slideDown 0.5s ease-out 0.4s forwards;
  width: 100%;
  white-space: pre-line;
  padding: 0.2rem;
  margin: 0;
}
/* Close button */
.closebtn {
  overflow: hidden;
  position: absolute;
  border: none;
  top: 0.5em;
  left: 0.5em;
  padding: 0.5rem;
  width: 0.9em; 
  height: 0.9em;
  font: inherit;
  cursor: pointer;
  z-index: 10;
  margin: 0;
  background: rgb(230, 228, 228); 
}

.closebtn:hover {
  background: rgb(207, 206, 206); /* Light gray background on hover */
}

.closebtn::before, .closebtn::after {
  position: absolute;
  top: 15%; 
  left: calc(50% - 0.0625em);
  width: 0.1em; 
  height: 70%;
  border-radius: 0.5em;
  background: #000; /* Black color for the 'X' */
  content: '';
}

.closebtn:hover::before, .closebtn:hover::after {
  background: var(--main-red); /* Change 'X' color to red on hover */
}


.closebtn::after {
  transform: rotate(-45deg);
}

.closebtn::before {
  transform: rotate(45deg);
}

/* --- */



/* media queries */
@media screen and (max-width:1000px) {
  #container{
    grid-template-columns: 1fr 4fr 1.5fr;
    gap: 0.5rem;
    margin: 0.4rem;
    height: 96vh;
    width: 98vw;
  }
  .cardTitle {
    font-size: 1rem;
  }
  .cardSubtitle {
    font-size: 0.8rem;
  }
  .cardKeywords {
    font-size: 0.8rem;
  }

  .keywordTag {
    border-radius: 5px;
    padding: 2px 2px;
    margin: 4px;
  }
}

/* media queries if the screen is smaller than 600px apply the following code */
@media screen and (max-width: 700px) {
  #container {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
    margin: 0.2rem;
  }
  .windowView {
    height:100%; 
    width:100%;
    flex-basis:auto;
    flex-flow: column wrap;
    order: 6;
  }
  .card {
    width: 100%;
    height: 5%;
  }
  
  .item-1{ 
    order: 1;
    font-size: 0.1rem; 
    flex-direction: row;
    justify-self: left;
    text-align: left; 
  }
  .item-2 { order: 4; font-size: 0.1rem;}
  .item-3{ order: 2; font-size: 0.1rem;}
  .item-4 { order: 3; font-size: 0.1rem;}
  
  footer {
    order: 99;  /* Ensure it's the last in flex order */
    width: 100%;  /* Ensure it spans full width */
    position: relative;  /* It's okay to keep it relative if flexbox handles the placement correctly */
  }

  
  .filterbox {
    display: none;
  }
  .filterbtn {
    display:none;
  }
 
  .card-content video {
    width: 100%;
    height: 30%;
    background-color: #fff;
    padding: 0.2rem;
    animation: slideDown 0.5s ease-out 0.2s forwards;
  }
  .card-content img {
    width: 100%;
    height: 30%;
    background-color: #fff;
    padding: 0.2rem;
    animation: slideDown 0.5s ease-out 0.2s forwards;
  }
  .card-content .header h1 {
    font-size: 1rem;
    margin: 0.1rem;
  }
  .card-content .header h2 {
    font-size: 16px;
    margin: 0.8em;
  }
  .card-content::-webkit-scrollbar {
    width: 0.4rem;
  }
  .card-content::-webkit-scrollbar-thumb {
      border: 0.1rem solid rgb(163, 160, 160);
  }
}


/* 
.dots {
  color: rgba(215, 215, 249, 0.2);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
} */