*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* Works on Firefox */


body {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #fbfaf9;
}

/* page layout*/
#container {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 0.5fr 4.5fr 1fr;
  grid-template-rows: minmax(40px,0.1fr) auto minmax(40px,0.1fr);
  gap: 1rem;
  margin: 2rem;
  height: 90vh;
  width: 95vw;
 
}

#container > svg {
  display: block;
  position: absolute;
  top: 0;
  left:0;
  z-index: -1;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 1s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


.dots {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

a:link, a:visited  {
  text-decoration: none;
  /* color: black; */
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
}

a:hover {
  color: blue;
}

.item-1 {
  grid-area: 1/1/2/2;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-self: left;
  text-align: left;
}

.unselected {
  color: #999;
}
.selected {
  color: black;
}
.pages {
  margin: 10px;
  position: relative;
  
}

.selected::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 100%; /* Start width */
  height: 4px; /* Adjust thickness as needed */
  background-color: black; /* Adjust color as needed */
  animation: underline-animation 0.5s linear; /* Adjust animation duration and timing function as needed */
}

.pages:hover{
  color: black;
}


@keyframes underline-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%; /* Middle of animation, full width */
  }
}





.item-3 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: end;
  align-self: start;
}

.item-4 {
  grid-area: 3/1/4/2;
  align-self: end;
  justify-self: start;
}
.item-2 {
  grid-area: 3/3/4/4;
  justify-self: end;
  align-self: end;
}

/* filterbox */
.filterbox {
  grid-area: 1 / 3 / 3/ auto;
  /* border: 0.1em solid gray; */
  /* box-shadow: 8px 8px 5px gray; */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  flex-basis: 2em;
  background-color: rgba(0, 0, 0, 0);
  margin-left: 1em;
}
.filterbox p {
  font-size: 1rem;
  text-align: justify;
  margin: 0.2rem;
  margin-bottom: 0.1rem;
  font-weight: 800;
}

.filters {
  margin: 0.1rem;
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-start;
}


.filterbtn {
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
  background-color: rgb(215, 215, 249);
  color: rgb(0, 0, 0);
  padding: 0.4rem;
  border-radius: 0.6rem ;
  border: 2px solid rgb(28, 28, 78);
  margin: 0.2rem;
  cursor:pointer;
}
.filterbtn:hover {
  background-color: rgb(2, 2, 38);
  color:rgb(255, 255, 255);
  border: 2px solid rgb(2, 2, 38);
  /* outline: 0.15rem solid blue; outline does not follow the shape of border-radius*/
}

.active {
  background-color: rgb(2, 2, 38);
  color:rgb(255, 255, 255);
  border: 2px solid rgb(2, 2, 38);
}

/* Main div with projects display */
.windowView {
  grid-row: 1/-1;
  grid-column: 2/3;
  border: 2px solid black;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 8px 8px 5px gray;
  background-color: #fff;
  
}
.displaybar {
  display: inline-flex;
  justify-content: left;
  height: 5%;
  width: 40%;
  border: 3px solid black;
  align-items: center;
  padding-left: 1%;
  /* outline: outset medium; */
}
.displaybar p{
  font-size: large;
  font-family: 'JetBrains Mono';
}

.card {
  display: block;
  position: relative;
  border: 0.1em solid gray;
  width: 100%;
  cursor: pointer;
 
  flex-grow: 1;
  flex-shrink: 0.5;
  transition-property: flex-grow;
  transition-duration: 0.5s;
  /* transition-delay: 0.2s; */
  transition-timing-function: ease-in-out;
}


.card:hover {
  flex-grow: 10;
  border: 0.05em solid rgb(1, 1, 1);
  box-shadow: 20px 20px 30px rgb(65, 63, 62);
  /* transform: translate(20px,20px); */
}



/* .windowView .card:hover::after{
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  flex-grow: 1;
  flex-shrink: 0.5;
} */

/*card title*/
.cardTitle {
  display: inline-flex;
  background-color: #fff;
  color: black;
  font-size: 0.8em;
}

.cardClone {
  display: block;
  /* border: 0.1em solid gray; */
  box-shadow:12px 12px black;
  cursor: pointer;
  z-index: 2;
}

@keyframes slideDown {
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

/* Card Project */
.card-content {
  padding: 0px;
  overflow: auto;
  height: 100%;
  color: black;
  background-color: #fff;
  outline: 0.2rem solid black;
  scrollbar-width: thin;          /* "auto" or "thin" /Works on Firefox only */
  scrollbar-color: blue orange;   /* scroll thumb and track /Works on Firefox only*/ 
}

/* Works on Chrome, Edge, and Safari */
.card-content::-webkit-scrollbar {
  width: 0.7rem;
  overflow: auto;
  height: 2em;
}

.card-content::-webkit-scrollbar-track {
  background: rgb(243, 241, 241);
  border: 0.1rem solid black;
}

.card-content::-webkit-scrollbar-thumb {
  background-color: rgb(210, 208, 207);
  padding: 0.1rem;
  border-radius: 0;
  border: 0.1rem solid rgb(0, 0, 0);
}
.card-content > * {
  transform: translateY(-35px);
  opacity: 0;
}
.card-content video {
  width: 100%;
  height: 70%;
  background-color: #fff;
  padding: 20px;
  animation: slideDown 0.5s ease-out 0.2s forwards;
}
.card-content img {
  width: 100%;
  height: 70%;
  background-color: #fff;
  padding: 20px;
  animation: slideDown 0.5s ease-out 0.2s forwards;
}
.card-content .header{
  position: sticky;
  position: -webkit-sticky;
  background-color: #fff;
  top: 0em;
  padding: 1em;
  animation: slideDown 0.5s ease-out forwards;
  z-index: 3;
}
.card-content .header h1 {
  font-size: 28px;
  margin: 0.1em;
}
.card-content .header h2 {
  font-size: 22px;
  margin: 0.8em;
}
.card-content .wrapper{
  display: flex;
  flex-flow: row wrap;
  opacity: 100%;
  margin-top: 20px;
}
.wrapper .info {
  display: flex;
  flex-flow: column wrap;
  opacity: 100%;
  width: 40%;
  padding: 3%;
  align-items: flex-start;
  text-align: left;
  overflow-wrap: break-word;
  
}
.wrapper .dec {
  width: 60%;
}
.wrapper h3 {
  font-size: 16px;
  font-style: normal;
  z-index: 3;
  opacity: 100%;
}
.wrapper .info > p {
  font-size: 14px;
  color: #999;
  animation: slideDown 0.5s ease-out 0.4s forwards;
  width: 100%;
  white-space: pre-line;
  padding: 0.5em;
}
/* close button  */
.closebtn {
  overflow: hidden;
  position: absolute;
  border: none;
  top: 0.5em;
  left: 0.5em;
  padding: 0.2rem;
  width: 0.9em; 
  height: 0.9em;
  font: inherit;
  text-indent: 100%;
  cursor: pointer;
  z-index: 10;
  margin: 0;
}
  
  .closebtn:hover {
    background: rgb(0, 0, 0);
  }
  
  .closebtn:before, .closebtn:after {
    position: absolute;
    top: 15%; left: calc(50% - .0625em);
    width: .1em; height: 70%;
    border-radius: .1em;
    transform: rotate(45deg);
    background:#b3afaf;
    content: '';
  }
  
  .closebtn:after { transform: rotate(-45deg); }


/* --- */

.opDown {
  opacity: 0%;
  transition: all 1s ease;
}

.hide {
 border: 0;
 min-height: 0%;
 height: 0%;
 flex-grow: 0;
 flex-shrink: 50;
 transition: all 1s;
}
.opUp {
  opacity: 100%;
  transition: all 1s ease;
}
.show {
  border: 0.1em solid gray;
  width: 100%;
  align-items: center;
  flex-grow: 1;
  flex-shrink: 0.5;
  transition: all 1s;
}


/* media queries */
@media screen and (max-width:1000px) {
  #container{
    grid-template-columns: 1fr 4fr 1.5fr;
    gap: 0.5rem;
    margin: 0.4rem;
    height: 96vh;
    width: 98vw;
  }
}

/* media queries if the screen is smaller than 600px apply the following code */
@media screen and (max-width: 700px) {
  #container {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100%;
    margin: 0.2rem;
  }
  .windowView {height:100%; width:100%;flex-basis:auto;order: 6;}
  .item-1{ order: 1; font-size: 0.1rem; }
  .item-2 { order: 4; font-size: 0.1rem;}
  .item-3{ order: 2; font-size: 0.1rem;}
  .item-4 { order: 3; font-size: 0.1rem;}
  
  .filterbox {
    order: 5;
    width: 100%;
    height: fit-content;
    border: 0.1em solid gray; 
    box-shadow: 4px 4px 2px gray;
    flex-flow: column wrap;
    text-align: left;
    flex-basis: auto;
    padding: 0.1rem;
  }
 
  .filterbox p{
    font-size: 1rem;
    color: rgb(0, 0, 0);
  }
  .filterbtn {
    font-size: 1rem;
    margin: 0.15rem;
    padding: 0.3em;
    border-radius: 0.2rem;
  }
  .displaybar{
    height: 1.5rem;
    border: 3px solid black;
  }
  .displaybar > p {
    font-size: 0.7rem;
  }
  .cardTitle {
    display: flex;
    position: relative;
    color: black;
    font-size: 0.01rem;
    
  }
  .card-content video {
    width: 100%;
    height: 30%;
    background-color: #fff;
    padding: 0.2rem;
    animation: slideDown 0.5s ease-out 0.2s forwards;
  }
  .card-content img {
    width: 100%;
    height: 30%;
    background-color: #fff;
    padding: 0.2rem;
    animation: slideDown 0.5s ease-out 0.2s forwards;
  }
  .card-content .header h1 {
    font-size: 1rem;
    margin: 0.1rem;
  }
  .card-content .header h2 {
    font-size: 16px;
    margin: 0.8em;
  }
  .card-content::-webkit-scrollbar {
    width: 0.4rem;
  }
  .card-content::-webkit-scrollbar-thumb {
      border: 0.1rem solid rgb(163, 160, 160);
  }
}